body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: inherit;
  color: inherit;
  font-family: 'Lobster', cursive;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  margin: 0;
  max-width: 600px;
  text-align: center;
}

.container {
  max-width: 700px;
  width: 90%; /* Adjusted width for responsiveness */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.meme-image {
  max-width: 80%; /* Reduce the maximum width */
  max-height: 300px; /* Adjust the maximum height */
  width: auto;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px; /* Reduce space between image and button */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

button:focus {
  outline: none;
}

button.primary {
  background-color: #007bff;
  color: #fff;
}

button.secondary {
  background-color: #6c757d;
  color: #fff;
}

button.toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

button.toggle.light {
  background-color: #17a2b8;
}

button.toggle.dark {
  background-color: #343a40;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

header, h2, p {
  margin: 0;
}

.header.light-mode, .header.dark-mode, h2.light-mode, h2.dark-mode, p.light-mode, p.dark-mode {
  color: inherit;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .card {
    padding: 15px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .description {
    font-size: 14px;
  }

  .header {
    font-size: 24px;
  }
}




